/* BASE STYLES START*/
body {
    min-width: 1038px;
    width: 1278px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    padding: 0 130px;
}

/* BASE STYLES END */

/* HEADER BLOCK START */
.page__header {
    background: url("../image/nav.jpg") no-repeat;
    padding-top: 32px;
    align-items: center;
    height: 505px;
}

.page__header.container {
    padding: 130px;
}

.navigation {
    display: flex;
    height: 60px;
    padding: 30px 0;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    width: 206px;
}

.navigation__items {
    display: flex;
    width: 380px;
    align-items: center;
    text-transform: uppercase;
    padding: 24px;
}

.navigation__item-list {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.order, .header__button {
    display: flex;
    height: 50px;
    width: 170px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    color: white;
    background-color: unset;
}

.order__button {
    color: white;
}

.navigation__item {
    padding: 30px;
    color: white;
}

.header__title-wrapper {
    text-align: center;
    padding-top: 134px;
    padding-bottom: 203px;
}

.header__title {
    color: white;
    font-size: 45px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

/* HEADER BLOCK END */

/* FEATURES BLOCK START */
.features {
    height: 303px;
}

.features__list {
    display: flex;
    text-align: center;
}

.features__item {
    width: 337px;
    padding-left: 28px;
    padding-right: 28px;;
}

.features__image {
    padding-top: 58px;
}

.features__title {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #a38b70;
    font-size: 30px;
    padding-top: 31px;
}

.features__description {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 16px;
    padding-top: 21px;
}

/* FEATURES BLOCK END */

/* ARTICLES BLOCK START */

.articles {
    background-color: #f2f2f2;
    height: 615px;
}

.button {
    display: flex;
    height: 50px;
    width: 170px;
    align-content: center;
    border: 2px solid #a38b70;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #a38b70;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.theory {
    padding-bottom: 90px;
}

.theory__title {
    padding-bottom: 11px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.theory__address {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
}

.theory__link {
    color: #a38b70;
}

.theory__content {
    display: flex;
}

.theory__text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    padding-top: 6px;
}

.theory__image {
    padding-right: 31px;
}

/* ARTICLES BLOCK END */

/* FEEDBACK BLOCK START */
.feedback {
    height: 384px;
}

.feedback__content {
    padding-bottom: 88px;
    display: flex;
    justify-content: space-between;
}

.feedback__item {
    display: flex;
    flex-direction: row;
}

.vertical__line-feedback {
    margin: 0px;
    border: 2px solid #a38b70;
}

.feedback__text {
    /*margin: 0px;*/
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #404040;
    width: 366px;
    padding-left: 51px;
}

.feedback__text-user {
    font-style: italic;
    font-weight: bold;
    color: black;
}

/* FEEDBACK BLOCK END */

/* STORE BLOCK START */

.store {
    background-color: #f2f2f2;
    padding-bottom: 90px;
    height: 950px;
}

.store__header {
    padding-top: 90px;
    padding-bottom: 60px;
}

.store__list {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.store__item {
    border: 1px solid #ac9875
}

.item__image {
    height: 210px;
    width: 305px;
}

.item__content {
    padding: 15px;
}

.item__name {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.item__price {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #404040;
}

.item__description {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.item__buttons {
    display: flex;
    justify-content: space-between;
}

.button--invert, .question__submit {
    display: flex;
    height: 48px;
    width: 126px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 0;
    border: 2px solid #a38b70;
    background-color: #a38b70;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    text-transform: uppercase;
}

.price__title {
    padding-top: 55px;
    padding-bottom: 55px;
    color: #ac9875;
}

.price__table {
    width: 100%;
    text-align: left;
}

.price__table {
    padding-top: 6px;
    border-collapse: collapse;

}

.table__rows {
    height: 50px;
    color: #404040;
    font-family: Arial, sans-serif;
}

.table__cell {
    border: 1px solid #ac9875;
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 16px;
}

.table__row {
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 16px;
}
.table__title-number {
    width: 4.9%;
}

.table__title-name {
    width: 49%;
}

.table__title-responsible {
    width: 33%;
}

.table__title-price {
    width: 17%;
}

.table__name-content {
    font-weight: bold;
    color: #000000;
}

/* STORE BLOCK END */

/* QUESTIONS BLOCK START */

.questions {
    padding-bottom: 70px;
    height: 1019px;
}

.questions__header-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #404040;
}

.questions__content {
    display: flex;
    justify-content: space-between;
}

.questions__content-form {
    display: flex;
    width: 61.5%;
}

.questions__form {
    width: 100%;
}

.questions__form-client, .form__question {
    display: flex;
    flex-direction: column;
}

.questions__image--cat {
    padding-top: 56px;
    height: 532px;
}

.field__input, .delivery__section, .message__text {
    height: 50px;
    padding-left: 20px;
    border: 2px solid #d5d5d5;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #404040;
}

.field__label {
    padding-bottom: 11px;
    padding-top: 25px;
    padding-left: 15px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #404040;
}

.field__label--checkbox {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #404040;
    padding-left: 5px;
}

.horizontal__line-questions {
    border: 1px solid #ac9875;
}

.message__text {
    padding-top: 25px;
    height: 116px;
}

.form__checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 31px;
    padding-bottom: 26px;
    padding-left: 15px;
}

.field__input--checkbox {
    width: 27px;
    height: 27px;
}

.form__submit {
    padding-top: 55px;
}

.question__submit {
    width: 167px;
}

/* QUESTIONS BLOCK END */

/* FOOTER BLOCK START */

.page__footer {
    height: 568px;
    background-color: #363636;
}

.footer__header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__image {
    height: 60px;
}

.footer__line--horizontal {
    border: 1px solid #5e5e5e;
}

.footer__categories {
    display: flex;
    justify-content: flex-start;
}

.categories__title {
    color: #a38b70;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 51px;
    padding-bottom: 24px;
}

.categories__list {
    width: 170px;
    padding-bottom: 46px;
}

.list {
    padding: 0px;
    list-style-type: none;
}

.item__link {
    color: #c3c3c3;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    line-height: 41px;
}

.bottom__ending {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom__text {
    padding-right: 30px;
    color: #a38b70;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 24px;
}

.bottom__heart {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-right: 280px;
    padding: 25px;
    width: 204px;
}

.social__link {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom__heart {
    display: flex;
    justify-content: center;
    color: white;
}

.heart__image {
    padding: 0 5px;
}

/* FOOTER BLOCK END */

.button--white {
    color: white;
    border: 2px solid white;
}

.button--black {
    background-color: #363636;
}

.block-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 74px;
    padding-bottom: 64px;
    color: #ac9875;
}

.title {
    display: flex;
    justify-content: space-between;
    color: #ac9875;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    font-weight: bold;
}

.logo__image {
    width: 205px;
    height: 57px;
}